In [2]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# import dataset
df = pd.read_csv('StoreSalesData.csv')

In [4]:
# EDA, Exploratory Data Analysis
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,2019-01-05,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,2019-03-08,10:29:00,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,2019-03-03,13:23:00,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,2019-01-27,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2019-02-08,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3

In [5]:
df.columns

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

The database has 17 columns and no null values
It referes to the sales of 6 product lines over 3 months in 3 branches in 3 different cities
* invoice_id varchar(50)
* branch varchar(10)
* city varchar(50)
* customer_type varchar(6)
* gender varchar(25)
* product_line varchar(100)
* unit price decimal(6,2)
* quantity INT
* tax_5% decimal(10,4)
* total decimal(12,4)
* date DATETIME
* time TIMESTAMP
* payment varchar(20)
* cogs decimal(8,2)
* gross_mergine_pct decimal (10,2)
* gross_income decimal(8,4)
* rating decimal (3,1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [7]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Invoice ID,1000,1000,750-67-8428,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Branch,1000,3,A,340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,1000,3,Yangon,340,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer type,1000,2,Member,501,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,1000,2,Female,501,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Product line,1000,6,Fashion accessories,178,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unit price,1000.0,NaN,NaN,NaN,55.67213,26.494628,10.08,32.875,55.23,77.935,99.96
Quantity,1000.0,NaN,NaN,NaN,5.51,2.923431,1.0,3.0,5.0,8.0,10.0
Tax 5%,1000.0,NaN,NaN,NaN,15.379369,11.708825,0.5085,5.924875,12.088,22.44525,49.65
Total,1000.0,NaN,NaN,NaN,322.966749,245.885335,10.6785,124.422375,253.848,471.35025,1042.65
Date,1000,89,2019-02-07,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time,1000,506,19:48:00,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Payment,1000,3,Ewallet,345,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cogs,1000.0,NaN,NaN,NaN,307.58738,234.17651,10.17,118.4975,241.76,448.905,993.0
gross margin percentage,1000.0,NaN,NaN,NaN,4.761905,0.0,4.761905,4.761905,4.761905,4.761905,4.761905
gross income,1000.0,NaN,NaN,NaN,15.379369,11.708825,0.5085,5.924875,12.088,22.44525,49.65
Rating,1000.0,NaN,NaN,NaN,6.9727,1.71858,4.0,5.5,7.0,8.5,10.0

In [40]:
# Finding unique values for some of the object types columns

unique_values_city = df['City'].unique()
unique_values_branch = df['Branch'].unique()
unique_values_customer_type = df['Customer type'].unique()
unique_values_gender = df['Gender'].unique()
unique_values_product_line = df['Product line'].unique()
unique_values_payment_type = df['Payment'].unique()

print(f'Cities:', unique_values_city)
print(f'Branches:',unique_values_branch)
print(f'Customerr type:', unique_values_customer_type)
print(f'Gender:', unique_values_gender)
print(f'Product lines:', unique_values_product_line)
print(f'Payment types:', unique_values_payment_type)

Cities: ['Yangon' 'Naypyitaw' 'Mandalay']
Branches: ['A' 'C' 'B']
Customerr type: ['Member' 'Normal']
Gender: ['Female' 'Male']
Product lines: ['Health and beauty' 'Electronic accessories' 'Home and lifestyle'
 'Sports and travel' 'Food and beverages' 'Fashion accessories']
Payment types: ['Ewallet' 'Cash' 'Credit card']

#### Creating 3 new columns with day name, month name and part of the day

In [46]:
# Combine date and time columns into a single datetime column
df['datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'])

In [66]:
# Extract day name, day part, and month name
df['day_name'] = df['datetime'].dt.day_name()
df['day_part'] = pd.cut(df['datetime'].dt.hour, bins=[0, 12, 18, 24], labels=['Morning', 'Afternoon', 'Evening'], right=False)
df['month_name'] = df['datetime'].dt.strftime('%B')

In [67]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,...,Time,Payment,cogs,gross margin percentage,gross income,Rating,datetime,day_name,day_part,month_name
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,...,13:08:00,Ewallet,522.83,4.761905,26.1415,9.1,2019-01-05 13:08:00,Saturday,Afternoon,January
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,...,10:29:00,Cash,76.40,4.761905,3.8200,9.6,2019-03-08 10:29:00,Friday,Morning,March
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,...,13:23:00,Credit card,324.31,4.761905,16.2155,7.4,2019-03-03 13:23:00,Sunday,Afternoon,March
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,...,20:33:00,Ewallet,465.76,4.761905,23.2880,8.4,2019-01-27 20:33:00,Sunday,Evening,January
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,...,10:37:00,Ewallet,604.17,4.761905,30.2085,5.3,2019-02-08 10:37:00,Friday,Morning,February

## PROJECT'S QUESTIONS

### BUSINESS AND SALES ANALYSIS
* How many unique cities does the data have?
* In which city is each branch?
* What is the city with the largest revenue?
* Number of sales made in each time of the day per weekday
* Which city has the largest tax percent/ VAT (Value Added Tax)?
* What is the total revenue by month?
* What month had the largest COGS?
* Which branch sold more products than average product sold?
* How many unique payment methods does the data have?
* What is the most common payment method?

In [51]:
# How many unique cities does the data have?
unique_values_city = df['City'].unique()
unique_city_count = len(unique_values_city)

print(f'The dataset has {unique_city_count} unique city: {unique_values_city}')

The dataset has 3 unique city: ['Yangon' 'Naypyitaw' 'Mandalay']

In [58]:
# In which city is each branch?
branch_location = df.groupby('Branch')['City'].first()

print(branch_location)

Branch
A       Yangon
B     Mandalay
C    Naypyitaw
Name: City, dtype: object

In [64]:
# What is the city with the largest revenue?
# Calculate gross income per city
city_revenue = df.groupby('City')['gross income'].sum()

# Store results in a dataframe
city_revenue_df = pd.DataFrame(city_revenue.items(), columns=['City','Total revenue'])

# Order the dataframe lines
city_revenue_df_sorted = city_revenue_df.sort_values(by='Total revenue', ascending=False)

# Get the city with the largest revenue
city_with_largest_revenue = city_revenue_df_sorted.iloc[0]['City']

print(city_revenue_df_sorted)
print('The coty with the largest revenue is',city_with_largest_revenue)

        City  Total revenue
1  Naypyitaw      5265.1765
2     Yangon      5057.1605
0   Mandalay      5057.0320
The coty with the largest revenue is Naypyitaw

In [72]:
# Number of sales made in each time of the day per weekday
sales_time_day = df.groupby(['day_name','day_part'])['Quantity'].sum()

sales_time_day_df = sales_time_day.reset_index(name='Total quantity sold')

print(sales_time_day_df)

     day_name   day_part  Total quantity sold
0      Friday    Morning                  140
1      Friday  Afternoon                  400
2      Friday    Evening                  218
3      Monday    Morning                  116
4      Monday  Afternoon                  387
5      Monday    Evening                  135
6    Saturday    Morning                  161
7    Saturday  Afternoon                  448
8    Saturday    Evening                  310
9      Sunday    Morning                  144
10     Sunday  Afternoon                  421
11     Sunday    Evening                  213
12   Thursday    Morning                  179
13   Thursday  Afternoon                  411
14   Thursday    Evening                  165
15    Tuesday    Morning                  173
16    Tuesday  Afternoon                  404
17    Tuesday    Evening                  285
18  Wednesday    Morning                  125
19  Wednesday  Afternoon                  475
20  Wednesday    Evening                  200

C:\Users\ilari\AppData\Local\Temp\ipykernel_16156\2446510175.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sales_time_day = df.groupby(['day_name','day_part'])['Quantity'].sum()

In [73]:
# Which city has the largest tax percent/ VAT (Value Added Tax)?

# Group by product line and calculate the total VAT for each product line
city_vat = df.groupby('City')['Tax 5%'].mean()

# Save results in a dataframe
city_vat_df = pd.DataFrame(city_vat.items(), columns = ['City', 'VAT'])

# Arranging values in descending order
city_vat_sorted = city_vat_df.sort_values(by='VAT', ascending=False)

# Find the product line with the largest VAT amount
largest_vat_city = city_vat.idxmax()
largest_vat_amount = city_vat.max()

#Print results
print("The city with the largest VAT amount is:", largest_vat_city)
print("The largest VAT amount is:", largest_vat_amount)
print(city_vat_df)
print(city_vat_sorted)

The city with the largest VAT amount is: Naypyitaw
The largest VAT amount is: 16.05236737804878
        City        VAT
0   Mandalay  15.232024
1  Naypyitaw  16.052367
2     Yangon  14.874001
        City        VAT
1  Naypyitaw  16.052367
0   Mandalay  15.232024
2     Yangon  14.874001

In [75]:
# What is the total revenue by month?
total_revenue_month = df.groupby('month_name')['gross income'].sum()
print(total_revenue_month)

month_name
February    4629.494
January     5537.708
March       5212.167
Name: gross income, dtype: float64

In [91]:
# What month had the largest COGS?
total_cogs_month = df.groupby('month_name')['cogs'].sum()

# Sort the result in descending order
total_cogs_month_sorted = total_cogs_month.sort_values(ascending=False)
total_cogs_month_sorted_df = pd.DataFrame(total_cogs_month_sorted.items(), columns=['Month', 'Total COGS'])

# Get the month with the largest COGS
largest_cogs_month = total_cogs_month_sorted_df.iloc[0]['Month']
largest_cogs_amount = total_cogs_month_sorted_df.iloc[0]['Total COGS']

print(total_cogs_month_sorted_df)
print('\n')
print(f'The month with the largest COGS is {largest_cogs_month} with ${largest_cogs_amount} total COGS')

      Month  Total COGS
0   January   110754.16
1     March   104243.34
2  February    92589.88


The month with the largest COGS is January with $110754.16 total COGS

In [99]:
# Which branch sold more products than average product sold?
# Calculate the average quantity sold across all branches
average_product_sold = df['Quantity'].sum() / len(df['Branch'].unique())

# Calculate the total quantity sold by each branch
total_quantity_sold_by_branch = df.groupby('Branch')['Quantity'].sum()

# Print the average quantity sold and total quantity sold by each branch
print("Average quantity sold:", average_product_sold)
print("Total quantity sold by each branch:")
print(total_quantity_sold_by_branch)

# Find branches that sold more products than the average
branches_above_average = total_quantity_sold_by_branch[total_quantity_sold_by_branch > average_product_sold]
print("Branches that sold more products than the average:")
print(branches_above_average)

Average quantity sold: 1836.6666666666667
Total quantity sold by each branch:
Branch
A    1859
B    1820
C    1831
Name: Quantity, dtype: int64
Branches that sold more products than the average:
Branch
A    1859
Name: Quantity, dtype: int64

In [108]:
# What is the most common payment method?
payment_method = df['Payment'].value_counts()
most_common_payment_method = df['Payment'].value_counts().idxmax()
print(payment_method)
print('\n')
print("The most common payment method is:", most_common_payment_method)

Payment
Ewallet        345
Cash           344
Credit card    311
Name: count, dtype: int64


The most common payment method is: Ewallet

### PRODUCT ANALYSIS
* How many unique product lines does the data have?
* What is the most selling product line?
* What product line had the largest revenue?
* What product line had the largest VAT?
* What is the most common product line by gender?
* What is the average rating of each product line?

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [34]:
# How many unique product lines the data set has?

# Calculating unique values, unique() generates an array
unique_values_product_line = df['Product line'].unique()

# Create a DataFrame with the unique values
unique_values_df = pd.DataFrame({'Product line': unique_values_product_line})

# Save the DataFrame to a CSV file
#unique_values_df.to_csv('unique_product_lines.csv', index=False)

# print the array generated by unique()
print(unique_values_product_line)

#print the df generated from the array
print(unique_values_df)

['Health and beauty' 'Electronic accessories' 'Home and lifestyle'
 'Sports and travel' 'Food and beverages' 'Fashion accessories']
             Product line
0       Health and beauty
1  Electronic accessories
2      Home and lifestyle
3       Sports and travel
4      Food and beverages
5     Fashion accessories

In [35]:
# What is the most selling product line?
# Calculating total quantity sold per product line
productline_quantity_sold = df.groupby('Product line')['Quantity'].sum()

# Create a data frame with the values
productline_quantity_sold_df = pd.DataFrame(productline_quantity_sold.items(), columns = ['Product_line', 'Quantity sold'])

# Sort the DataFrame by 'Total sales' column in descending order
productline_quantity_sold_df_sorted = productline_quantity_sold_df.sort_values(by='Quantity sold', ascending=False)

#print the data frame
print(productline_quantity_sold_df_sorted)

             Product_line  Quantity sold
0  Electronic accessories            971
2      Food and beverages            952
5       Sports and travel            920
4      Home and lifestyle            911
1     Fashion accessories            902
3       Health and beauty            854

In [36]:
# What product line had the largest revenue?
# Calculating total sales per product line
productline_sales = df.groupby('Product line')['gross income'].sum()
# Create a data frame with the values
productline_sales_df = pd.DataFrame(productline_sales.items(), columns = ['Product_line', 'Total sales'])
# Sort the DataFrame by 'Total sales' column in descending order
productline_sales_df_sorted = productline_sales_df.sort_values(by='Total sales', ascending=False)
#print the data frame
print(productline_sales_df_sorted)

             Product_line  Total sales
2      Food and beverages    2673.5640
5       Sports and travel    2624.8965
0  Electronic accessories    2587.5015
1     Fashion accessories    2585.9950
4      Home and lifestyle    2564.8530
3       Health and beauty    2342.5590

In [37]:
# What product line had the largest VAT?
# Group by product line and calculate the total VAT for each product line
product_vat = df.groupby('Product line')['Tax 5%'].mean()

# Save results in a dataframe
product_vat_df = pd.DataFrame(product_vat.items(), columns = ['Product_line', 'VAT'])

# Arranging values in descending order
product_vat_sorted = product_vat_df.sort_values(by='VAT', ascending=False)

# Find the product line with the largest VAT amount
largest_vat_product_line = product_vat.idxmax()
largest_vat_amount = product_vat.max()

#Print results
print("The product line with the largest VAT amount is:", largest_vat_product_line)
print("The largest VAT amount is:", largest_vat_amount)
print(product_vat_df)
print(product_vat_sorted)

The product line with the largest VAT amount is: Home and lifestyle
The largest VAT amount is: 16.03033125
             Product_line        VAT
0  Electronic accessories  15.220597
1     Fashion accessories  14.528062
2      Food and beverages  15.365310
3       Health and beauty  15.411572
4      Home and lifestyle  16.030331
5       Sports and travel  15.812630
             Product_line        VAT
4      Home and lifestyle  16.030331
5       Sports and travel  15.812630
3       Health and beauty  15.411572
2      Food and beverages  15.365310
0  Electronic accessories  15.220597
1     Fashion accessories  14.528062

In [38]:
# What is the most common product line by gender?
# Group by product line and gender, and sum the quantity purchased
product_line_gender = df.groupby(['Product line', 'Gender'])['Quantity'].sum()

# Create a dataframe with the results, cant use items because product_line_gender is a series
# product_line_gender_df = pd.DataFrame(product_line_gender.items(), columns =['Product line', 'Gender', 'Total quantity sold'])
# Convert the Series to a DataFrame
product_line_gender_df = product_line_gender.reset_index(name='Total quantity sold')

# Pivot the DataFrame to have product lines as rows and genders as columns
product_line_gender_pivot = product_line_gender_df.pivot(index='Product line', columns='Gender', values='Total quantity sold')

# Find for each product line if sales are higher among females or males
product_line_gender_pivot['Higher sales gender'] = product_line_gender_pivot.idxmax(axis=1)

print("Sales comparison by product line and gender:")
print(product_line_gender_pivot)

Sales comparison by product line and gender:
Gender                  Female  Male Higher sales gender
Product line
Electronic accessories     488   483              Female
Fashion accessories        530   372              Female
Food and beverages         514   438              Female
Health and beauty          343   511                Male
Home and lifestyle         498   413              Female
Sports and travel          496   424              Female

In [39]:
# What is the average rating of each product line?#
# Finding average rating pre productline
productline_rating = df.groupby('Product line')['Rating'].mean()

#Save results into a dataframe for clear visualisation
productline_rating_df = pd.DataFrame(productline_rating.items(), columns=['product line', 'average rating'])

#Sorting the line in descending order to highlight productline with highest rating
productline_rating_df_sorted = productline_rating_df.sort_values(by='average rating', ascending=False)

# Print results
print(productline_rating_df_sorted)

             product line  average rating
2      Food and beverages        7.113218
1     Fashion accessories        7.029213
3       Health and beauty        7.003289
0  Electronic accessories        6.924706
5       Sports and travel        6.916265
4      Home and lifestyle        6.837500

### CUSTOMER ANALYSIS
* How many unique customer types does the data have?
* Which customer type buys the most?
* Which of the customer types brings the most revenue?
* What is the most common customer type?
* Which customer type buys the most?
* Which customer type pays the most in VAT?
* What is the gender of most of the customers?
* What is the gender distribution per branch?
* Which time of the day do customers give most ratings?
* Which time of the day do customers give most ratings per branch?
* Which day fo the week has the best avg ratings?
* Which day of the week has the best average ratings per branch?

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [13]:
#Which of the customer type brings more revenue?
# Group by product line and calculate total revenue
total_revenue_per_customertype = df.groupby('Customer type')['gross income'].sum()

# Find the product line with the highest total revenue
highest_spending_customertype = total_revenue_per_customertype.idxmax()

print("Highest spending customer type:", highest_spending_customertype)
print(total_revenue_per_customertype)

Highest spending customer type: Member
Customer type
Member    7820.164
Normal    7559.205
Name: gross income, dtype: float64

In [24]:
# What is the most common customer type
# Count different customer types occurrence
customer_count = df['Customer type'].value_counts()
# Create a DataFrame from the customer type counts
customer_counts_df = pd.DataFrame(customer_count.items(), columns=['Customer Type', 'Count'])

most_common_customer_type = customer_count.idxmax()
customer_count
print('The most common customer type is', most_common_customer_type)
print(customer_counts_df)

The most common customer type is Member
  Customer Type  Count
0        Member    501
1        Normal    499

In [29]:
# Which customer type buys the most?
buyers = df.groupby('Customer type')['Quantity'].sum()

buyers_df = pd.DataFrame(buyers.items(), columns=['Customer type', 'Quantity bought'])

bigger_buyer = buyers.idxmax()

print('The biggest customer type buyer is', bigger_buyer)
print(buyers_df)

The biggest customer type buyer is Member
  Customer type  Quantity bought
0        Member             2785
1        Normal             2725

In [31]:
# Which customer type pays the most in VAT?
tax_paid = df.groupby('Customer type')['Tax 5%'].mean()
tax_paid_df = pd.DataFrame(tax_paid.items(), columns=['Customer type', 'VAT paid'])
highest_tax_payer = tax_paid.idxmax()
print('The customer type who pays the most VAT is',highest_tax_payer)
print(tax_paid_df)

The customer type who pays the most VAT is Member
  Customer type   VAT paid
0        Member  15.609110
1        Normal  15.148707

In [32]:
# What is the gender of most customers?
gender = df['Gender'].value_counts()
most_common_gender = gender.idxmax()
gender_df = pd.DataFrame(gender.items(), columns=['Gender', 'Count'])
print(gender_df)
print('The most common gender among customer is', most_common_gender)

   Gender  Count
0  Female    501
1    Male    499
The most common gender among customer is Female

In [34]:
# What is the gender distribution by branch?
# Group by branch and gender, and count occurrences
gender_by_branch = df.groupby(['Branch', 'Gender']).size()

# Convert the Series to a DataFrame and reset index
gender_by_branch_df = gender_by_branch.reset_index(name='Gender count')

print(gender_by_branch_df)

  Branch  Gender  Gender count
0      A  Female           161
1      A    Male           179
2      B  Female           162
3      B    Male           170
4      C  Female           178
5      C    Male           150

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
 17  datetime                 1000 non-null   datetime64[ns]
 18  day_name                 1000 non-null   object
 19  day_part                 1000 non-null   category
 20  month_name               1000 non-null   object
dtypes: category(1), datetime64[ns](1), float64(7), int64(1), object(11)
memory usage: 157.5+ KB

In [114]:
# Which time of the day the customer gives more rating?
ratings = df.groupby('day_part')['Rating'].value_counts().idxmax()
print(ratings)

('Afternoon', 6.0)

C:\Users\ilari\AppData\Local\Temp\ipykernel_16156\3629794262.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ratings = df.groupby('day_part')['Rating'].value_counts().idxmax()

In [127]:
# What time of the day do customers leaves more rating per branch?
ratings = df.groupby(['Branch', 'day_part'])['Rating'].count()

# Find the time of day with the most ratings per branch
most_ratings_per_branch = ratings.groupby('Branch').idxmax()

print(ratings)
print(most_ratings_per_branch)

Branch  day_part
A       Morning       73
        Afternoon    185
        Evening       82
B       Morning       59
        Afternoon    162
        Evening      111
C       Morning       59
        Afternoon    181
        Evening       88
Name: Rating, dtype: int64
Branch
A    (A, Afternoon)
B    (B, Afternoon)
C    (C, Afternoon)
Name: Rating, dtype: object

C:\Users\ilari\AppData\Local\Temp\ipykernel_16156\194732609.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  ratings = df.groupby(['Branch', 'day_part'])['Rating'].count()

In [130]:
# Which day of the week has the best average rating?

avg_ratings = df.groupby(['day_name'])['Rating'].mean()

# Find the day of the week with the best average rating
day_best_ratings = avg_ratings.idxmax()

print("Average ratings for each day of the week:")
print(avg_ratings)
print("Day with the best average rating:", day_best_ratings)

Average ratings for each day of the week:
day_name
Friday       7.076259
Monday       7.153600
Saturday     6.901829
Sunday       7.011278
Thursday     6.889855
Tuesday      7.003165
Wednesday    6.805594
Name: Rating, dtype: float64
Day with the best average rating: Monday

In [132]:
# Which day of the week has the best average rating per branch? 

avg_ratings = df.groupby(['Branch', 'day_name'])['Rating'].mean()

# Find the day of the week with the best average rating per branch
day_best_ratings = avg_ratings.groupby('Branch').idxmax()

print("Average ratings for each day of the week:")
print(avg_ratings)
print("Day with the best average rating per branch:")
print(day_best_ratings)

Average ratings for each day of the week:
Branch  day_name
A       Friday       7.312000
        Monday       7.097917
        Saturday     6.746000
        Sunday       7.078846
        Thursday     6.958696
        Tuesday      7.058824
        Wednesday    6.916279
B       Friday       6.694118
        Monday       7.335897
        Saturday     6.736667
        Sunday       6.888571
        Thursday     6.752273
        Tuesday      7.001887
        Wednesday    6.452000
C       Friday       7.278947
        Monday       7.036842
        Saturday     7.229630
        Sunday       7.028261
        Thursday     6.950000
        Tuesday      6.951852
        Wednesday    7.064000
Name: Rating, dtype: float64
Day with the best average rating per branch:
Branch
A    (A, Friday)
B    (B, Monday)
C    (C, Friday)
Name: Rating, dtype: object